.advertion-wrap{
    padding: 0.53333rem 0.4rem 0;
    margin-bottom: 0.53333rem;
    font-size: 12px;
}
.lable-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}
.label-item__block{
    display: inline-block;
}
.label-item__block__column{
    display: flex;
    flex-direction:column;
    align-items: center;
    img{
        width: 1.36rem;
        height: 1.36rem;
    }
    span{
        font-size: 0.34667rem;
        color: #232323;
        margin-top: 0.2rem;
    }
}
.vip-ahead{
    width: 100%;
    border-radius: 0.08rem;
    background-color: rgba(255,252,245,.5);
    border: 0.025rem solid hsla(30,55%,64%,.3);
    margin-bottom: 0.8rem;
}
.home-banner-wrap{
    padding-bottom: .53333rem;
}


.vip-ahead__list{
    display: flex;
    padding: 0.4rem 0.4rem 0.33333rem;
    position: relative;
    .vip-ahead__list__item{
        width: 1.73333rem;
        height: 2.37333rem;
        border-radius: .05333rem;
        overflow: hidden;
    }
    .vip-ahead__list__item__wrap{
        display: block;
        width: 100%;
        height: 100%;
    }
    img{
        border: none;
        border-color: transparent;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}
.vip-ahead__list__lab{
    position: absolute;
    right: 0.4rem;
    bottom: 0.26667rem;
    width: 2.02667rem;
    height: 0.64rem;
    border-radius: 0.33333rem;
    font-size: 0.32rem;
    color: #ff6743;
    border: 1px solid #ff6743;
    display: flex;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
}


.operation{
    box-shadow: 0 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,.08);
    background-color: #f5f5f5;
}
.operation__ul{
    display: flex;
    justify-content: space-between;
}
.operation--bottom{
    display: flex;
    margin-top: 0.16rem;
    justify-content: space-between;
}
.operation__item__block1{
    width: 4.52rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .46667rem;
    border-radius: .08rem;
    box-sizing: border-box;
    background-color: #fefefe;
}
.operation__item__block2{
    display: flex;
    width: 2.96rem;
    height: 2.82667rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: .08rem;
    background-color: #fefefe;
}
.operation__item__block__title{
    height: .6rem;
        line-height: .6rem;
        font-size: .4rem;
        color: #232323;
        text-align: center;
}
.operation__item__block__icon{
    width: 1.2rem;
    height: 1.2rem;
    img{
        border: none;
        border-color: transparent;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}
.operation__item__block__preferential{
    width: 1.2rem;
    height: 1.2rem;
    img{
        border: none;
        border-color: transparent;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}