.recommend-block {
    padding: 0 .4rem;
    margin-top: .8rem;
    .recommend-block__wrap {
        overflow: hidden;
        .recommend-block__wrap__title{
            font-size: .53333rem;
            font-weight: 700;
            color: #232323;
            float: left;
        }
    }
    .recommend-block__list {
        margin-top: .53333rem;
        .content {
            margin: 0;
            li {
                text-align: left;
                display: flex;
                margin-bottom: .86667rem;
                position: relative;
                .show-icon {
                    width: 2.93333rem;
                    height: 4rem;
                    border-radius: .10667rem;
                    border: 1px solid #ebebeb;
                    position: relative;
                    overflow: hidden;
                    .show-icon-a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        img {
                            border: none;
                            border-color: transparent;
                            vertical-align: middle;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .item-desc {
                    flex: 1;
                    margin-left: .4rem;
                    color: #232323;
                    padding-top: .13333rem;
                    .show-date {
                        font-size: .32rem;
                        height: .64rem;
                        line-height: .64rem;
                        letter-spacing: 1px;
                        color: #666;
                        strong {
                            color: #232323;
                            font-size: .42667rem;
                        }
                    }
                    .item-desc-a {
                        display: block;
                        .text-double {
                            width: 100%;
                            font-size: .45333rem;
                            line-height: .6rem;
                            min-height: .6rem;
                            max-height: 1.2rem;
                            margin-top: .33333rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: bold;
                        }
                    }
                    .text-single {
                        margin-top: .33333rem;
                        width: 5.33333rem;
                        font-size: .32rem;
                        height: .64rem;
                        line-height: .64rem;
                        color: #666;
                    }
                    .price {
                        font-size: .24rem;
                        color: #999;
                        height: .36rem;
                        line-height: .48rem;
                        margin-top: .2rem;
                        .c_ff6{
                            font-size: .42667rem;
                        letter-spacing: 0;
                        margin-right: .13333rem;
                        font-weight: 400;
                        }
                        strong {
                            font-size: .32rem;
                            letter-spacing: 0;
                            margin-right: .1rem;
                            font-weight: 400;
                            color: #ff6743!important;
                        }
                    }
                }
            }
        }
    }
    .recommend-block__more{
        display: block;
        margin: 0 auto;
        width: 4.24rem;
        height: .96rem;
        background: #fff;
        line-height: .96rem;
        border-radius: .10667rem;
        border: 1px solid #ff6743;
        font-size: .4rem;
        color: #ff6743;
        margin-bottom: 1.5rem;
        img{
            width: .13333rem;
            height: .26667rem;
            margin-left: .13333rem;
            vertical-align: initial;
        }
    }
}
